#timer {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

#stopwatch {
    text-align: center;
}

.row {
    display: flex;
}

.container {
    margin: auto;
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    margin-top: 20px;
    margin-bottom: 20px;
}

#red1, #red2, #yellow1, #yellow2 {
    height: 200px;
    width: 200px;
    border: 3px solid black;
    cursor: pointer;
}

#blue1, #blue2, #purple1, #purple2 {
    height: 200px;
    width: 200px;
    border: 3px solid black;
    cursor: pointer;
}

.matched {
    visibility: hidden;
}